:root {
  --scroll-index: 0px;
}

.content {
  background-color: #444444;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: linear-gradient(to bottom, #444444 100%, #444444 0%);
}

.title-cards {
  transform: translate(0, -10%);
}

.rows {
  margin-top: 25px;
  padding-left: 45px;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}

.rowHeader {
  background: transparent;
  color: white;
  font-weight: bold;
}

.cardRow {
  transform: translateX(var(--scroll-index));
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  transition: all 1s ease-in-out;
  
}

.card {
  display: flex;
  flex-direction: row;
  background: transparent;
  border: none;
  padding: 5px 5px;
}

.card-wrapper {
  position: relative;
}

.cardImage {
  width: 230px;
  height: 150px;
  border-radius: 3px;
  cursor: pointer;
}

.card-hover {
  display: none;
  position: absolute;
  top: -50%;
  left: 0;
  box-shadow: 2px 5px 5px 2px black;
  background-color: #555;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  z-index: 10;
}

.card-wrapper:hover .card-hover {
  display: block;
}

.card-container {
  background-color: #555;
  border-radius: 5px;
}

.cardImage-Hover {
  border-radius: 5px;
  height: 200px;
  width: 350px;
}

.cardHover-btns {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.play-btn-link {
  text-decoration: none;
  color: black;
}

.play-btn {
  background-color: white;
  color: black;
  border: none;
  border-radius: 100%;
  margin: 10px;
  padding: 5px 0;
  width: 10%;
  cursor: pointer;
}

.remove-btn,
.like-btn,
.moreInfo-btn {
  background-color: rgba(71, 68, 68, 0.699);
  color: rgb(160, 158, 158);
  border: 1px solid rgb(160, 158, 158);
  border-radius: 100%;
  margin: 10px;
  padding: 5px 0;
  width: 10%;
  cursor: pointer;
}

.moreInfo-btn {
  position: absolute;
  left: 80%;
}

.moreInfo-btn:hover,
.like-btn:hover,
.remove-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  color: #fff;
}

.handleLeft,
.handleRight {
  border: none;
  height: 150px;
  width: 50px;
  z-index: 10;
  padding: 5px 5px;
  margin: 5px 0px;
  background-color: transparent;
  color: transparent;

}

.handleLeft {
  left: 0;
  position: fixed;

}

.handleRight {
  right: 0;
  position: fixed;
}

.rows:hover .handleLeft {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.rows:hover .handleRight {
  color: rgb(255, 255, 255);
  font-size: 2rem;
}

.handleLeft:hover,
.handleRight:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
}
