/* General Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;         
  background-color: black;
  color: white;
  
}

.entryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0,0, 0, 0.7)),
  url('https://assets.nflxext.com/ffe/siteui/vlv3/51c1d7f7-3179-4a55-93d9-704722898999/be90e543-c951-40d0-9ef5-e067f3e33d16/IN-en-20240610-popsignuptwoweeks-perspective_alpha_website_small.jpg');
  background-size: cover;
  background-position: center;
}
header{
  width: 100%;
}

.navBar {
  display: inline-flex; 
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 8rem;

}

.nav__logo {
  width: 150px;  
  margin-left: 0%;
}

.nav__links {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown__button {
  background: transparent;
  color: #fff;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.dropdown__menu {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #555;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: white;
}

.dropdown:hover .dropdown__menu {
  display: block;
  padding: 0px;
}

.dropdown__item {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  display: block;
}

.dropdown__item:hover {
  background-color: #777373;
}

.signUp__button {
  padding: 5px 20px;
  background-color: rgb(255, 0, 13);
  border: none;
  color: white;
  border-radius: 5px;
  /* cursor: pointer; */
}

.banner {
  text-align: center;
  padding: 0px 20px;
  margin-top: 50px;
  
}

.heading h1 {
  font-size: 3rem;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 50px;
}

.heading h2 {
  font-size: 1.5rem;
  margin-bottom: 30px;
  margin-top: 30px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 100px;
}

.email {
  background: transparent;
  color: grey;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  flex: 1;
  max-width: 400px;
}

.email:focus {
  outline: white double 2px;
}

.signUp__btn {
  background-color: red;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: none;
  cursor: pointer;
}

.signUp__btn:hover ,.signUp__button:hover  {
  background-color: darkred;
}

@media (max-width: 480px) {
  .navBar {
    flex-direction: column;
  }

  .nav__logo {
    width: 100px;
    margin-bottom: 20px;
  }

  .nav__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }

  .heading h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .heading h2 {
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 10px;
  }

  form {
    flex-direction: column;
  }

  .signUp__btn {
    width: auto;
    padding: 15px;
  }
}