<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>


const [videos, setVideos] = useState([]);

useEffect(() => {
  fetch('https://youtube.googleapis.com/youtube/v3/playlistItems?part=snippet&maxResults=50&playlistId=UU1VDpWpOf36CuP9fowyDZtQ&key=AIzaSyC5hucyjipJJmjhoTrXJW6D3p2jvq9Jjbg')
    .then(response => response.json())
    .then(data => {
      const videoItems = data.items.map(item => ({
        title: item.snippet.title,
        thumbnail: item.snippet.thumbnails.default.url,
        url: `https://www.youtube.com/watch?v=${item.snippet.resourceId.videoId}`,
      }));
      setVideos(videoItems);
    })
    .catch(error => console.error('Error fetching videos:', error));
}, []);

<div className="App">
    <Entry />
    <Home />
    <div className="container">
      <h2>Latest Videos</h2>
      <div id="latestVideos">
        {videos.map((video, index) => (
          <div key={index}>
            <a href={video.url} target="_blank" rel="noopener noreferrer">
              <img src={video.thumbnail}></img> <br />
              {video.title}
            </a>
          </div>
        ))}
      </div>
    </div>
  </div>